@import 'true';
@import '../src/grid-spriter';

$defs: (1: 'toto', 3: 'tata', 7: 'titi');

@include describe('onAxis()') {

  @include it('Should output 0% when searching for the frist cell of any axis') {
    @include assert-equal(onAxis(1337, 0), 0)
  }

  @include it('Should output 25% when seearching for the second cell of a 5 cells axis') {
    @include assert-equal(onAxis(5, 1), 25)
  }
}

@include describe('inGrid()') {

  @include it('Should output 0% 0% when searching for the first cell of any grid') {
    @include assert-equal(inGrid(0, 1024, 768), 0 0)
  }

  @include it('Should output 25% 100% when searching for the seventh cell of a 5*2 grid') {
    @include assert-equal(inGrid(6, 5, 2), 25 100)
  }
}

@include describe('gridSpriter()') {

  @include it('Should output the right definitions for every configured class if a map is provided') {

    @include assert {

      @include output {
        @include GridSpriter('../images/icons/foo.svg', 'foo', 5, 2, $defs);
      }

      @include expect {

        .append-foo-titi-icon-mask::after,
        .prepend-foo-titi-icon-mask::before,
        .is-foo-titi-icon-mask,
        .append-foo-tata-icon-mask::after,
        .prepend-foo-tata-icon-mask::before,
        .is-foo-tata-icon-mask,
        .append-foo-toto-icon-mask::after,
        .prepend-foo-toto-icon-mask::before,
        .is-foo-toto-icon-mask {
          mask-image: url("../images/icons/foo.svg");
          mask-size: 500% auto;
        }

        .append-foo-toto-icon-mask::after,
        .prepend-foo-toto-icon-mask::before,
        .is-foo-toto-icon-mask {
          mask-position: 25% 0;
        }

        .append-foo-tata-icon-mask::after,
        .prepend-foo-tata-icon-mask::before,
        .is-foo-tata-icon-mask {
          mask-position: 75% 0;
        }

        .append-foo-titi-icon-mask::after,
        .prepend-foo-titi-icon-mask::before,
        .is-foo-titi-icon-mask {
          mask-position: 50% 100%;
        }
      }
    }
  }

  @include it('Should output the right definitions for every icon if no map is provided') {

    @include assert {

      @include output {
        @include GridSpriter('../images/icons/bar.svg', 'bar', 3, 1);
      }

      @include expect {

        .append-bar-2-icon-mask::after,
        .prepend-bar-2-icon-mask::before,
        .is-bar-2-icon-mask,
        .append-bar-1-icon-mask::after,
        .prepend-bar-1-icon-mask::before,
        .is-bar-1-icon-mask,
        .append-bar-0-icon-mask::after,
        .prepend-bar-0-icon-mask::before,
        .is-bar-0-icon-mask {
          mask-image: url("../images/icons/bar.svg");
          mask-size: 300% auto;
        }

        .append-bar-0-icon-mask::after,
        .prepend-bar-0-icon-mask::before,
        .is-bar-0-icon-mask {
          mask-position: 0 0;
        }

        .append-bar-1-icon-mask::after,
        .prepend-bar-1-icon-mask::before,
        .is-bar-1-icon-mask {
          mask-position: 50% 0;
        }

        .append-bar-2-icon-mask::after,
        .prepend-bar-2-icon-mask::before,
        .is-bar-2-icon-mask {
          mask-position: 100% 0;
        }
      }
    }
  }
}
