// Available modes. Serves as default when no $modes param is provided.
$availableModes: ('is', 'prepend', 'append');

// Helper function to compute relative position of a given cell on any axis
@function onAxis($l, $x) {
  @return if($l > 1, (calc(1 / ($l - 1)) * $x) * 100%, 0);
}

// Helper function to compute relative coordinates of a given cell within a grid
@function inGrid($i, $w, $h) {

  $x: onAxis($w, $i % $w);
  $y: onAxis($h, floor(calc($i / $w)));

  @return $x $y;
}

@mixin GridSpriter($src, $set, $col, $row, $def: null, $modes: $availableModes, $type: 'mask') {

  $relWidth: $col * 100%;
  $nbrCells: $col * $row;

  %#{$set}Def {
    #{$type}-image: url($src);
    #{$type}-size: $relWidth auto;
  }

  @for $key from 0 through $nbrCells - 1 {

    @if $def == null or map-has-key($def, $key) {

      $val: if($def != null, map-get($def, $key), $key);
      $position: inGrid($key, $col, $row);

      %#{$set}position#{$key} {
        #{$type}-position: $position;
      }

      @each $mode in $modes {

        @if index($availableModes, $mode) == null {
          @error 'GridSpriter mode is set to #{$mode}. Should be either "is", "prepend" or "append".';
        }

        $className: '.#{$mode}-#{$set}-#{$val}-icon-#{$type}';

        @if $mode != 'is' {
          $className: $className + if($mode == 'prepend', '::before', '::after');
        }

        #{$className} {
          @extend %#{$set}Def;
          @extend %#{$set}position#{$key};
        }
      }
    }
  }
}
